* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
}

.header {
    display: flex;
    justify-content: center;
}

.menu {
    width: 620px;
    padding-top: 31.5px;
    padding-bottom: 31.5px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.menu-link {
    text-decoration: none;
    color: #FF0000;
}

.img {
    width: 100%;
}

.content {
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 48px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: auto 68px;
}

.text {
    margin-top: 38px;
}

.text-content {
    margin-top: 28px;
    margin-bottom: 66px;
}

.button {
    background-color: #FF0000;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 18px 43px;
}

.text-footer {
    text-align: right;
    margin-top: 83px;
    margin-bottom: 29px;
}